In [59]:
%matplotlib inline
import matplotlib
import seaborn as sns
matplotlib.rcParams['savefig.dpi'] = 144

In [60]:
import grader

# SQL Miniproject

## Introduction

The city of New York does restaurant inspections and assigns a grade. Inspections data for the last 4 years are available on s3 as an SQLite database, which you can import in the next few cells. These were extracted from a set of csv files and an xls file, as described in the <b>How we loaded the data</b> section


The raw data can be found [here](s3://dataincubator-course/coursedata/nyc_inspection_data.zip) and can be useful to look at. The file `RI_Webextract_BigApps_Latest.xls` contains a description of each of the datafiles and what the columns mean.

In [3]:
!aws s3 sync s3://dataincubator-course/coursedata/ . --exclude '*' --include 'nyc_inspection.db'

In [4]:
#This will load the pre-existing tables
%load_ext sql
%sql sqlite:///nyc_inspection.db

/opt/conda/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated since IPython 4.0. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/opt/conda/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

u'Connected: None@nyc_inspection.db'

To see what tables are in the database:

In [61]:
%%sql
SELECT * FROM sqlite_master WHERE "type"='table';

Done.

[(u'table', u'writer', u'writer', 2, u'CREATE TABLE writer (first_name, last_name, year)'),
 (u'table', u'webextract', u'webextract', 3, u'CREATE TABLE webextract (\n\t"index" BIGINT, \n\t"CAMIS" BIGINT, \n\t"DBA" TEXT, \n\t"BORO" BIGINT, \n\t"BUILDING" TEXT, \n\t"STREET" TEXT, \n\t"ZIPCODE" FLOAT, \n\t"PHONE" TEXT, \n\t"CUISINECODE" BIGINT, \n\t"INSPDATE" TEXT, \n\t"ACTION" TEXT, \n\t"VIOLCODE" TEXT, \n\t"SCORE" FLOAT, \n\t"CURRENTGRADE" TEXT, \n\t"GRADEDATE" TEXT, \n\t"RECORDDATE" TEXT\n)'),
 (u'table', u'violations', u'violations', 24393, u'CREATE TABLE violations (\n\t"index" BIGINT, \n\t"STARTDATE" TEXT, \n\t"ENDDATE" TEXT, \n\t"CRITICALFLAG" TEXT, \n\t"VIOLATIONCODE" TEXT, \n\t"VIOLATIONDESC" TEXT\n)'),
 (u'table', u'cuisine', u'cuisine', 24426, u'CREATE TABLE cuisine (\n\t"index" BIGINT, \n\t"CUISINECODE" BIGINT, \n\t"CODEDESC" TEXT\n)'),
 (u'table', u'boroughs', u'boroughs', 24428, u'CREATE TABLE boroughs (\n   id   INT,\n   name  TEXT\n)'),
 (u'table', u'vio', u'vio', 24429, u'CREATE TABLE vio (CODE,INSPDATE, CAMIS, VIOLCODE,CUISINE)'),
 (u'table', u'startdate', u'startdate', 31072, u'CREATE TABLE startdate (CAMIS,CUISINE,start_date)'),
 (u'table', u'enddate', u'enddate', 31344, u'CREATE TABLE enddate (CAMIS,CUISINE,end_date)'),
 (u'table', u'vio_by_cui', u'vio_by_cui', 31616, u'CREATE TABLE vio_by_cui (CUISINE,viocount)'),
 (u'table', u'days_by_cui', u'days_by_cui', 31617, u'CREATE TABLE days_by_cui (CUISINE,CAMIS,DAYS)'),
 (u'table', u'act_vio', u'act_vio', 31820, u'CREATE TABLE act_vio (ENDDATE,VIOLCODE,VIOLATION)'),
 (u'table', u'vio_counts', u'vio_counts', 31825, u'CREATE TABLE vio_counts (VIOLCODE,CUISINE,spec_count)'),
 (u'table', u'vio_counts_code', u'vio_counts_code', 31831, u'CREATE TABLE vio_counts_code (VIOLCODE,count)'),
 (u'table', u'vio_counts_cui', u'vio_counts_cui', 31832, u'CREATE TABLE vio_counts_cui (CUISINE,count)'),
 (u'table', u'results', u'results', 31855, u'CREATE TABLE results (CUISINE,VIOLATION,ratio,count)')]

And to look at the format of an individual table (note that you may need to change types to get the answers in the right form):

In [62]:
%%sql
PRAGMA table_info(webextract)

Done.

[(0, u'index', u'BIGINT', 0, None, 0),
 (1, u'CAMIS', u'BIGINT', 0, None, 0),
 (2, u'DBA', u'TEXT', 0, None, 0),
 (3, u'BORO', u'BIGINT', 0, None, 0),
 (4, u'BUILDING', u'TEXT', 0, None, 0),
 (5, u'STREET', u'TEXT', 0, None, 0),
 (6, u'ZIPCODE', u'FLOAT', 0, None, 0),
 (7, u'PHONE', u'TEXT', 0, None, 0),
 (8, u'CUISINECODE', u'BIGINT', 0, None, 0),
 (9, u'INSPDATE', u'TEXT', 0, None, 0),
 (10, u'ACTION', u'TEXT', 0, None, 0),
 (11, u'VIOLCODE', u'TEXT', 0, None, 0),
 (12, u'SCORE', u'FLOAT', 0, None, 0),
 (13, u'CURRENTGRADE', u'TEXT', 0, None, 0),
 (14, u'GRADEDATE', u'TEXT', 0, None, 0),
 (15, u'RECORDDATE', u'TEXT', 0, None, 0)]

## SQLite3

The project should be written in SQL. Between SQLite and PostgreSQL we recommend sqlite3 for this project.  You can use the sqlite command prompt by running this command in bash
```bash
sqlite3 cmd "DROP TABLE IF EXISTS writer;\
CREATE TABLE IF NOT EXISTS writer (first_name, last_name, year);\
INSERT INTO writer VALUES ('William', 'Shakespeare', 1616);\
INSERT INTO writer VALUES ('Francis', 'Fitzgerald', 1896);\
\
SELECT * FROM writer;\
"
```
Alternatively, you can run bash commands in a jupyter notebook by prepending the `!` in a code cell (notice that we conveniently get the output displayed

In [7]:
!sqlite3 cmd """\
DROP TABLE IF EXISTS writer;\
CREATE TABLE IF NOT EXISTS writer (first_name, last_name, year);\
INSERT INTO writer VALUES ('William', 'Shakespeare', 1616);\
INSERT INTO writer VALUES ('Francis', 'Fitzgerald', 1896);\
\
SELECT * FROM writer;\
"""

William|Shakespeare|1616
Francis|Fitzgerald|1896

Finally, we use the [ipython-sql extension](https://github.com/catherinedevlin/ipython-sql#ipython-sql) by first loaidng the sql extension and then running our code with the "magic" command in the first line
```python
%%sql sqlite://
```
Notice that the output table is formatted nicely as a nice HTML table.

This is our recommended technique.  However, the grader is expecting python objects and you may need to use list comprehensions to reformat this output

In [8]:
%%sql 
DROP TABLE IF EXISTS writer;
CREATE TABLE IF NOT EXISTS writer (first_name, last_name, year);
INSERT INTO writer VALUES ('William', 'Shakespeare', 1616);
INSERT INTO writer VALUES ('Francis', 'Fitzgerald', 1896);

SELECT * FROM writer;

Done.
Done.
1 rows affected.
1 rows affected.
Done.

[(u'William', u'Shakespeare', 1616), (u'Francis', u'Fitzgerald', 1896)]

In [9]:
result = _
#This captures the output of the previous cell

In [10]:
result

[(u'William', u'Shakespeare', 1616), (u'Francis', u'Fitzgerald', 1896)]

## How we loaded the data

For future reference, here is how you can load data in to SQL (with examples).  If you have a csv file you created with something like

```
!printf "Name,Age\nAlice,3\nBob,10" > sample.csv.nogit
```


Then Sqlite3 has a convenient [`.import` function](https://sqlite.org/cli.html#csv_import) which can create tables from `.csv` files.

```bash
sqlite> .import sample.csv.nogit sample
sqlite> SELECT * FROM sample;
```

The files may contain malformatted text.  Unfortunately, this is all too common.  As a stop gap, remember that [`iconv`](https://linux.die.net/man/1/iconv) is a unix utility that can convert files between different text encodings.

Alternatively, you can also read csv files using pandas and convert that into SQL via some sql magic (this is what we actually did).

```
import pandas as pd
sample = pd.read_csv('sample.csv.nogit')
%sql DROP TABLE IF EXISTS sample
%sql PERSIST sample
%sql SELECT * FROM sample;
```

## Question 1: null_entries

Return the number of inspections (CAMIS, INSPDATE pairs) that do not have a score. Remove the corresponding rows from the dataset for the rest of the questions in the assignment.

**Question:** How else might we have handled this?

In [12]:
%%sql 
SELECT COUNT(*) FROM (SELECT CAMIS,INSPDATE FROM  webextract WHERE SCORE IS NULL GROUP BY CAMIS,INSPDATE)

Done.

[(28864,)]

In [13]:
%%sql 
SELECT COUNT(*) FROM (SELECT CAMIS,INSPDATE FROM  webextract WHERE SCORE IS NOT NULL GROUP BY CAMIS,INSPDATE)

Done.

[(160492,)]

In [14]:
%%sql
SELECT COUNT(*) FROM (SELECT CAMIS,INSPDATE FROM webextract GROUP BY CAMIS,INSPDATE)

Done.

[(168747,)]

In [212]:
abs(160492-168747)

8255

In [22]:
%%sql
DELETE FROM webextract WHERE SCORE IS NULL

33524 rows affected.

[]

In [6]:

def null_entries():
    return 8255

grader.score('sql__null_entries', null_entries)

==================
Your score:  1
==================

## Question 2: score_by_zipcode

Return a list of tuples of the form:

    (zipcode, mean score, number of restaurants)

for each of the 87 zipcodes in the city with over 100 restaurants. Use the score from the latest inspection date for each restaurant. Sort the list in ascending order by mean score.

**Note:** There is an interesting discussion here about what the mean score *means* in this dataset. Think about what we're actually calculating - does it represent what we're trying to understand about these zipcodes?

What if we use the average of a restaurant's inspections instead of the latest?

**Checkpoints:**
- Total unique restaurants: 24,361;
- Total restaurants in valid zipcodes: 19,172

In [374]:
%%sql
SELECT COUNT(*) FROM (SELECT CAMIS FROM webextract GROUP BY CAMIS)

Done.

[(25232,)]

In [252]:
%%sql
SELECT COUNT(*),SUM(count) FROM 
(SELECT ZIPCODE,count FROM (SELECT ZIPCODE,COUNT(DISTINCT CAMIS) AS count FROM webextract GROUP BY ZIPCODE) WHERE (count>100))

Done.

[(87, 19172)]

In [318]:
%%sql
SELECT ZIPCODE,avg,count FROM 
(SELECT ZIPCODE,COUNT(CAMIS) AS count, SUM(SCORE) AS score,SUM(SCORE)/COUNT(CAMIS) AS avg FROM
(SELECT ZIPCODE,CAMIS,INSPDATE,SCORE FROM 
(SELECT ZIPCODE,CAMIS,INSPDATE,SCORE FROM webextract GROUP BY ZIPCODE,
CAMIS,INSPDATE ORDER BY ZIPCODE,INSPDATE)
GROUP BY ZIPCODE,CAMIS) GROUP BY ZIPCODE)
WHERE (count>100) ORDER BY avg

Done.

[(10451.0, 9.142857142857142, 154),
 (10001.0, 9.14949494949495, 495),
 (11430.0, 9.689655172413794, 145),
 (11236.0, 9.830188679245284, 106),
 (10472.0, 10.130841121495328, 107),
 (11234.0, 10.186206896551724, 145),
 (11217.0, 10.345528455284553, 246),
 (10306.0, 10.533333333333333, 105),
 (11368.0, 10.535714285714286, 280),
 (10462.0, 10.537931034482758, 145),
 (11231.0, 10.56578947368421, 152),
 (11237.0, 10.6, 175),
 (10461.0, 10.677852348993289, 149),
 (11209.0, 10.691699604743082, 253),
 (10019.0, 10.760802469135802, 648),
 (11201.0, 10.76876876876877, 333),
 (11105.0, 10.77310924369748, 119),
 (10065.0, 10.904191616766466, 167),
 (11435.0, 10.922330097087379, 103),
 (10463.0, 10.968253968253968, 126),
 (10022.0, 10.97463002114165, 473),
 (10458.0, 11.0, 188),
 (10023.0, 11.020833333333334, 192),
 (10468.0, 11.049019607843137, 102),
 (10004.0, 11.070866141732283, 127),
 (11207.0, 11.1015625, 128),
 (10007.0, 11.114503816793894, 131),
 (10036.0, 11.137693631669535, 581),
 (11232.0, 11.141509433962264, 106),
 (11222.0, 11.145945945945947, 185),
 (11361.0, 11.160714285714286, 112),
 (11238.0, 11.253275109170305, 229),
 (11204.0, 11.258333333333333, 120),
 (11215.0, 11.302777777777777, 360),
 (11385.0, 11.304526748971194, 243),
 (11106.0, 11.318181818181818, 154),
 (11103.0, 11.338308457711443, 201),
 (10027.0, 11.348101265822784, 158),
 (10467.0, 11.397515527950311, 161),
 (11101.0, 11.404347826086957, 230),
 (10017.0, 11.409340659340659, 364),
 (11218.0, 11.450704225352112, 142),
 (11432.0, 11.54054054054054, 185),
 (10010.0, 11.543933054393305, 239),
 (10028.0, 11.611374407582938, 211),
 (10038.0, 11.617283950617283, 162),
 (11226.0, 11.626262626262626, 198),
 (11373.0, 11.639269406392694, 219),
 (10024.0, 11.682051282051281, 195),
 (11230.0, 11.712871287128714, 101),
 (11221.0, 11.735849056603774, 106),
 (10011.0, 11.757369614512472, 441),
 (10014.0, 11.766917293233083, 399),
 (10012.0, 11.774683544303798, 395),
 (11375.0, 11.8, 190),
 (10018.0, 11.836923076923076, 325),
 (10009.0, 11.858085808580858, 303),
 (11206.0, 11.865248226950355, 141),
 (10003.0, 11.951367781155016, 658),
 (11358.0, 11.963503649635037, 137),
 (11219.0, 11.98019801980198, 101),
 (10016.0, 11.985074626865671, 402),
 (11208.0, 11.991150442477876, 113),
 (10025.0, 12.004366812227074, 229),
 (10002.0, 12.006607929515418, 454),
 (10029.0, 12.115183246073299, 191),
 (10314.0, 12.115384615384615, 182),
 (11205.0, 12.1875, 144),
 (10013.0, 12.252155172413794, 464),
 (11223.0, 12.275280898876405, 178),
 (11203.0, 12.281481481481482, 135),
 (11216.0, 12.320754716981131, 159),
 (11214.0, 12.371428571428572, 175),
 (11211.0, 12.402298850574713, 348),
 (10128.0, 12.573248407643312, 157),
 (10021.0, 12.590604026845638, 149),
 (11229.0, 12.68840579710145, 138),
 (11249.0, 12.83673469387755, 147),
 (11372.0, 12.857605177993527, 309),
 (10032.0, 12.91304347826087, 115),
 (11354.0, 13.11046511627907, 344),
 (11377.0, 13.111650485436893, 206),
 (10033.0, 13.132743362831858, 113),
 (11235.0, 13.290697674418604, 172),
 (11220.0, 13.334426229508196, 305),
 (11104.0, 13.372727272727273, 110),
 (11355.0, 14.02139037433155, 187)]

In [320]:
import sqlite3
con = sqlite3.connect('nyc_inspection.db')
cursor = con.cursor()
cursor.execute('SELECT * FROM sqlite_master WHERE "type"="table"')
cursor.execute('PRAGMA table_info(webextract)')
cursor.execute('DELETE FROM webextract WHERE SCORE IS NULL')
cursor.execute('SELECT ZIPCODE,avg,count FROM (SELECT ZIPCODE,COUNT(CAMIS) AS count, SUM(SCORE) AS score,SUM(SCORE)/COUNT(CAMIS) AS avg FROM (SELECT ZIPCODE,CAMIS,INSPDATE,SCORE FROM (SELECT ZIPCODE,CAMIS,INSPDATE,SCORE FROM webextract GROUP BY ZIPCODE,CAMIS,INSPDATE ORDER BY ZIPCODE,INSPDATE) GROUP BY ZIPCODE,CAMIS) GROUP BY ZIPCODE) WHERE (count>100) ORDER BY avg')
result = cursor.fetchall()
def score_by_zipcode():
    
    
    #print result
    output = []
    for item in result:
        new_item = (str(int(item[0])),float(item[1]),int(item[2]))
        output.append(new_item)
#print output
    return output

grader.score('sql__score_by_zipcode', score_by_zipcode)

==================
Your score:  1.0
==================

In [323]:
f = open('score_by_zip.csv','w')
for line in output:
    f.write(line[0]+',USA,'+str(line[1])+'\n')
f.close()

## Question 3: score_by_map

The above are not terribly enlightening.  Use [CartoDB](http://cartodb.com/) to produce a map of average scores by zip code.  You can sign up for a free trial.

You will have to use their wizard to plot the data by [zipcode](https://carto.com/learn/guides/analysis/georeference). You will need to specify "USA" in the countryfield.  Then use the "share" button to return a link of the form [https://x.cartodb.com/](https://x.cartodb.com/).

**For fun:** How do JFK, Brighton Beach, Liberty Island (home of the Statue of Liberty), Financial District, Chinatown, and Coney Island fare?

**For more fun:** Plot restaurants as pins on the map, allowing the user to filter by "low", "middling", or "high"-scoring restaurants. You can use a CASE WHEN statement to create the different groups based on score thresholds.

In [326]:
def score_by_map():
    # must be url of the form https://x.cartodb.com/...
    return "https://rayding95.carto.com/builder/873b5b42-b129-46f7-8bb7-99f4798902a7/embed"

grader.score('sql__score_by_map', score_by_map)

==================
Your score:  1.0
==================

## Question 4: score_by_borough
Return a list of tuples of the form:

    (borough, mean score, number of restaurants)

for each of the city's five boroughs. Sort the list in ascending order by grade.

**Hint:** You will have to perform a join with the `boroughs` table. The borough names should be reported in ALL CAPS.

**Checkpoint:**
- Total restaurants in valid boroughs: 24,350

In [335]:
%%sql
SELECT COUNT(*) FROM (SELECT CAMIS,BORO,SCORE FROM webextract WHERE BORO IS NOT NULL AND BORO IS NOT 0 GROUP BY CAMIS)

Done.

[(24350,)]

In [352]:
%%sql
SELECT boroughs.name,avg,count FROM 
(SELECT BORO,COUNT(CAMIS) AS count, SUM(SCORE) AS score,SUM(SCORE)/COUNT(CAMIS) AS avg FROM
(SELECT BORO,CAMIS,INSPDATE,SCORE FROM 
(SELECT BORO,CAMIS,INSPDATE,SCORE FROM webextract WHERE BORO IS NOT NULL AND BORO IS NOT 0 GROUP BY BORO,
CAMIS,INSPDATE ORDER BY BORO,INSPDATE)
GROUP BY BORO,CAMIS) GROUP BY BORO)
OUTTER JOIN boroughs ON BORO=boroughs.id
ORDER BY avg

Done.

[(u'THE BRONX', 10.776852257781675, 2281),
 (u'MANHATTAN', 11.48963704377717, 9891),
 (u'BROOKLYN', 11.596854163104805, 5849),
 (u'QUEENS', 11.82259553258261, 5417),
 (u'STATEN ISLAND', 11.899122807017545, 912)]

In [354]:

cursor.execute('SELECT boroughs.name,avg,count FROM (SELECT BORO,COUNT(CAMIS) AS count, SUM(SCORE) AS score,SUM(SCORE)/COUNT(CAMIS) AS avg FROM(SELECT BORO,CAMIS,INSPDATE,SCORE FROM (SELECT BORO,CAMIS,INSPDATE,SCORE FROM webextract WHERE BORO IS NOT NULL AND BORO IS NOT 0 GROUP BY BORO,CAMIS,INSPDATE ORDER BY BORO,INSPDATE) GROUP BY BORO,CAMIS) GROUP BY BORO) OUTTER JOIN boroughs ON BORO=boroughs.id ORDER BY avg')
result1 = cursor.fetchall()

[(u'THE BRONX', 10.776852257781675, 2281), (u'MANHATTAN', 11.48963704377717, 9891), (u'BROOKLYN', 11.596854163104805, 5849), (u'QUEENS', 11.82259553258261, 5417), (u'STATEN ISLAND', 11.899122807017545, 912)]

In [357]:
def score_by_borough():
    output = []
    for item in result1:
        new_item = (str(item[0]),float(item[1]),int(item[2]))
        output.append(new_item)
    return output

grader.score('sql__score_by_borough', score_by_borough)

==================
Your score:  1.0
==================

## Question 5: violations_by_cuisine

We want to look at violations themselves now.  We'll need to think more carefully about what we're measuring, since most restaurants have many inspections with possibly multiple violations per inspection, or long stretches of inspections with no violations.

There are many ways to deal with this normalization issue, but we'll go with a fairly straightforward one: dividing the number of violations by the length of time (in years) the restaurant has been open.  As a proxy for the length, we'll look at the difference between the oldest and newest inspection date, treating anything less than 30 days as 30 days (to account for those that were only inspected once, we'll assume everything was open for at least a month).

Since there are so many restaurants, we'll group them by cuisine and do a weighted average by computing 

    (total violations for a cuisine) / (total restaurant-years for that cuisine)

Return a list of 75 tuples of the form

    (cuisine name, reports per restaurant-year)
    
for cuisines with at least 100 violations total, ordered by increasing number of reports per restaurant-year
    
**Note:** This isn't the only way to normalize things.  How would other ways affect the computation?  If you similarly wanted to compute an average score by cuisine, how might you go about doing that?
    
**Checkpoint:**
- Total entries from valid cuisines: 522,410

In [63]:
%%sql

DROP TABLE IF EXISTS vio;
CREATE TEMP TABLE IF NOT EXISTS vio (CODE,INSPDATE, CAMIS, VIOLCODE,CUISINE);
INSERT INTO vio 
SELECT webextract.CUISINECODE AS CODE,webextract.INSPDATE AS INSPDATE,webextract.CAMIS AS CAMIS,webextract.VIOLCODE AS VIOCODE,cuisine.CODEDESC AS CUISINE 
FROM webextract INNER JOIN cuisine ON webextract.CUISINECODE=cuisine.CUISINECODE ORDER BY CAMIS,INSPDATE

Done.
Done.
531935 rows affected.

[]

In [64]:
%%sql

DROP TABLE IF EXISTS startdate;
CREATE TEMP TABLE IF NOT EXISTS startdate (CAMIS,CUISINE,start_date);
INSERT INTO startdate
SELECT CAMIS,CUISINE,INSPDATE AS start_date FROM (SELECT * FROM vio ORDER BY CAMIS,INSPDATE DESC) GROUP BY CUISINE,CAMIS

Done.
Done.
25232 rows affected.

[]

In [65]:
%%sql
DROP TABLE IF EXISTS enddate;
CREATE TEMP TABLE IF NOT EXISTS enddate (CAMIS,CUISINE,end_date);
INSERT INTO enddate
SELECT CAMIS,CUISINE,INSPDATE AS end_date FROM vio GROUP BY CUISINE,CAMIS

Done.
Done.
25232 rows affected.

[]

In [74]:
%%sql
DROP TABLE IF EXISTS vio_by_cui;
CREATE TABLE IF NOT EXISTS vio_by_cui (CUISINE,viocount);
INSERT INTO vio_by_cui 
SELECT CUISINE,viocount FROM 
(SELECT CUISINE,COUNT(CAMIS) AS totalcount,COUNT(VIOLCODE) AS viocount FROM 
(SELECT INSPDATE,CAMIS,VIOLCODE,CUISINE
FROM vio GROUP BY INSPDATE,CAMIS,VIOLCODE) GROUP BY CUISINE) WHERE viocount>=100

Done.
Done.
75 rows affected.

[]

In [71]:
%%sql
DROP TABLE IF EXISTS days_by_cui;
CREATE TABLE IF NOT EXISTS days_by_cui (CUISINE,CAMIS,DAYS);
INSERT INTO days_by_cui
SELECT CUISINE,CAMIS,(julianday(end_date)-julianday(start_date)) AS days FROM 
(SELECT startdate.CAMIS,startdate.CUISINE,startdate.start_date,enddate.end_date FROM startdate 
 INNER JOIN enddate ON startdate.CAMIS=enddate.CAMIS AND startdate.CUISINE=enddate.CUISINE);
UPDATE days_by_cui 
SET DAYS=30 WHERE DAYS<30

Done.
Done.
25232 rows affected.
3067 rows affected.

[]

In [72]:
%%sql

SELECT vio_by_cui.CUISINE,SUM(DAYS) AS TOTAL,vio_by_cui.viocount FROM days_by_cui  
INNER JOIN vio_by_cui ON days_by_cui.CUISINE=vio_by_cui.CUISINE GROUP BY days_by_cui.CUISINE

Done.

[(u'Afghan', 8857.0, 300),
 (u'African', 51896.0, 1843),
 (u'American ', 4735376.474305556, 125453),
 (u'Armenian', 22813.0, 632),
 (u'Asian', 204250.0, 7652),
 (u'Australian', 8313.0, 248),
 (u'Bagels/Pretzels', 131133.0, 3657),
 (u'Bakery', 538990.0, 16095),
 (u'Bangladeshi', 20875.0, 803),
 (u'Barbecue', 33093.0, 799),
 (u'Bottled beverages, including water, sodas, juices, etc.', 53135.0, 1021),
 (u'Brazilian', 19051.0, 670),
 (u'Caf\xe9/Coffee/Tea', 807874.3479166669, 14860),
 (u'Cajun', 7075.0, 179),
 (u'Caribbean', 490581.0, 16100),
 (u'Chicken', 269871.0, 7442),
 (u'Chinese', 1669345.0, 60879),
 (u'Chinese/Cuban', 10710.0, 438),
 (u'Chinese/Japanese', 30504.0, 1303),
 (u'Continental', 35486.0, 983),
 (u'Creole', 15586.0, 679),
 (u'Czech', 4592.0, 127),
 (u'Delicatessen', 276324.0, 9590),
 (u'Donuts', 378736.0, 6302),
 (u'Eastern European', 45071.0, 1507),
 (u'Egyptian', 12568.0, 348),
 (u'English', 13153.0, 334),
 (u'Ethiopian', 12728.0, 297),
 (u'Filipino', 15860.0, 567),
 (u'French', 257685.0, 7409),
 (u'German', 27074.0, 855),
 (u'Greek', 90359.0, 2555),
 (u'Hamburgers', 377177.3465277776, 7663),
 (u'Hotdogs', 26501.0, 433),
 (u'Hotdogs/Pretzels', 13981.0, 145),
 (u'Ice Cream, Gelato, Yogurt, Ices', 215535.0, 3669),
 (u'Indian', 224197.0, 8170),
 (u'Indonesian', 5702.0, 213),
 (u'Irish', 162504.0, 4422),
 (u'Italian', 859344.0, 25637),
 (u'Japanese', 545382.0, 18371),
 (u'Jewish/Kosher', 246425.0, 7532),
 (u'Juice, Smoothies, Fruit Salads', 136598.0, 2638),
 (u'Korean', 190823.0, 6957),
 (u'Latin (Cuban, Dominican, Puerto Rican, South & Central American)', 726653.8506944445, 26063),
 (u'Mediterranean', 139052.0, 4169),
 (u'Mexican', 560621.0, 18419),
 (u'Middle Eastern', 114849.0, 3313),
 (u'Moroccan', 9444.0, 284),
 (u'Not Listed/Not Applicable', 6522.0, 131),
 (u'Other', 101250.0, 1881),
 (u'Pakistani', 20245.0, 811),
 (u'Pancakes/Waffles', 13130.0, 410),
 (u'Peruvian', 50676.0, 1886),
 (u'Pizza', 932423.4645833331, 25687),
 (u'Pizza/Italian', 348357.0, 10645),
 (u'Polish', 24214.0, 722),
 (u'Portuguese', 6568.0, 269),
 (u'Russian', 66706.0, 2023),
 (u'Salads', 20769.0, 552),
 (u'Sandwiches', 362997.0, 6510),
 (u'Sandwiches/Salads/Mixed Buffet', 149094.0, 3057),
 (u'Scandinavian', 5078.0, 149),
 (u'Seafood', 106171.0, 3245),
 (u'Soul Food', 32315.0, 1025),
 (u'Soups & Sandwiches', 35685.0, 576),
 (u'Southwestern', 7048.0, 203),
 (u'Spanish', 360022.0, 13090),
 (u'Steak', 69594.0, 1796),
 (u'Tapas', 19985.0, 614),
 (u'Tex-Mex', 97745.0, 2836),
 (u'Thai', 195130.0, 6843),
 (u'Turkish', 46736.0, 1533),
 (u'Vegetarian', 67882.0, 1958),
 (u'Vietnamese/Cambodian/Malaysia', 52121.0, 1829)]

In [75]:
import sqlite3
con_new = sqlite3.connect('nyc_inspection.db')
cursor1 = con_new.cursor()
cursor1.execute('SELECT vio_by_cui.CUISINE,SUM(DAYS) AS TOTAL,vio_by_cui.viocount FROM days_by_cui INNER JOIN vio_by_cui ON days_by_cui.CUISINE=vio_by_cui.CUISINE GROUP BY days_by_cui.CUISINE')
result5 = cursor1.fetchall()
output = []
for cui in result5:
    c = cui[2]
    cuisine = cui[0]
    r_y = cui[1]/365.0
    avg = c*1.0/r_y
    output.append((cuisine,avg))
print output

[(u'Afghan', 12.36310263068759), (u'African', 12.962367041775858), (u'American ', 9.669842566575483), (u'Armenian', 10.111778371980888), (u'Asian', 13.674320685434518), (u'Australian', 10.888969084566341), (u'Bagels/Pretzels', 10.179016723479215), (u'Bakery', 10.899413718250802), (u'Bangladeshi', 14.040479041916168), (u'Barbecue', 8.812588764995619), (u'Bottled beverages, including water, sodas, juices, etc.', 7.013550390514726), (u'Brazilian', 12.83659650412052), (u'Caf\xe9/Coffee/Tea', 6.713791586509789), (u'Cajun', 9.234628975265018), (u'Caribbean', 11.978653881825835), (u'Chicken', 10.065290453587084), (u'Chinese', 13.311110046155827), (u'Chinese/Cuban', 14.92717086834734), (u'Chinese/Japanese', 15.591233936532914), (u'Continental', 10.110888801217381), (u'Creole', 15.90112921852945), (u'Czech', 10.094729965156795), (u'Delicatessen', 12.667556925927533), (u'Donuts', 6.073439018207933), (u'Eastern European', 12.204188946329126), (u'Egyptian', 10.106619987269255), (u'English', 9.268607922147039), (u'Ethiopian', 8.517049025769957), (u'Filipino', 13.048865069356872), (u'French', 10.494537904806256), (u'German', 11.526741523232621), (u'Greek', 10.320776015670825), (u'Hamburgers', 7.4155964713909786), (u'Hotdogs', 5.963737217463492), (u'Hotdogs/Pretzels', 3.785494599814033), (u'Ice Cream, Gelato, Yogurt, Ices', 6.2133064235507), (u'Indian', 13.301025437450098), (u'Indonesian', 13.634689582602595), (u'Irish', 9.932247821592084), (u'Italian', 10.889125891377608), (u'Japanese', 12.294896054508582), (u'Jewish/Kosher', 11.156254438470121), (u'Juice, Smoothies, Fruit Salads', 7.048931902370459), (u'Korean', 13.307122307059421), (u'Latin (Cuban, Dominican, Puerto Rican, South & Central American)', 13.091508413405743), (u'Mediterranean', 10.943280211719356), (u'Mexican', 11.991942863360451), (u'Middle Eastern', 10.52899894644272), (u'Moroccan', 10.976281236764082), (u'Not Listed/Not Applicable', 7.331340079730144), (u'Other', 6.780888888888889), (u'Pakistani', 14.621634971597926), (u'Pancakes/Waffles', 11.397562833206397), (u'Peruvian', 13.584142394822008), (u'Pizza', 10.055254244582628), (u'Pizza/Italian', 11.153572341017979), (u'Polish', 10.883373255141652), (u'Portuguese', 14.948995127892813), (u'Russian', 11.069394057506072), (u'Salads', 9.700996677740864), (u'Sandwiches', 6.5459218671228685), (u'Sandwiches/Salads/Mixed Buffet', 7.483902772747395), (u'Scandinavian', 10.709925167388736), (u'Seafood', 11.15582409509188), (u'Soul Food', 11.577440816958068), (u'Soups & Sandwiches', 5.89155107187894), (u'Southwestern', 10.512911464245176), (u'Spanish', 13.270994550333036), (u'Steak', 9.419490185935569), (u'Tapas', 11.213910432824619), (u'Tex-Mex', 10.590209217862807), (u'Thai', 12.800158868446678), (u'Turkish', 11.972462341663816), (u'Vegetarian', 10.52812232992546), (u'Vietnamese/Cambodian/Malaysia', 12.808368987548207)]

In [76]:
def score_by_cuisine():
    return output

grader.score('sql__score_by_cuisine', score_by_cuisine)

==================
Your score:  0.96
==================

## Question 6: specific_violations_by_cuisine
Which cuisines tend to have a disproportionate number of what which violations? Answering this question isn't easy becuase you have to think carefully about normalizations.

1. More popular cuisine categories will tend to have more violations just becuase they represent more restaurants.
2. Similarly, some violations are more common.  For example, knowing that "Equipment not easily movable or sealed to floor" is a common violation for Chinese restuarants is not particularly helpful when it is a common violation for all restaurants.

The right quantity is to look at is the conditional probability of a specific type of violation given a specific cuisine type and divide it by the unconditional probability of the violation for the entire population. Taking this ratio gives the right answer.  Return the 20 highest ratios of the form:

    ((cuisine, violation), ratio, count)

**Hint:**
1. You might want to check out this [Stackoverflow post](http://stackoverflow.com/questions/972877/calculate-frequency-using-sql).
2. The definition of a violation changes with time.  For example, 10A can mean two different things "Toilet facility not maintained ..." or "Vermin or other live animal present ..." when things were prior to 2003. To deal with this, you should limit your analysis to violation codes with end date after Jan 1, 2014. (This end date refers to the validity time ranges in Violation.txt).
3. The ratios don't mean much when the number of violations of a given type and for a specific category are not large (why not?).  Be sure to filter these out.  We chose 100 as our cutoff.

**Checkpoint:**
- Top 20 ratios mean: 2.360652529900757

In [77]:
%%sql
DROP TABLE IF EXISTS act_vio;
CREATE TEMP TABLE IF NOT EXISTS act_vio (ENDDATE,VIOLCODE,VIOLATION);
INSERT INTO act_vio
SELECT ENDDATE,VIOLATIONCODE AS VIOLCODE,VIOLATIONDESC FROM
(SELECT ENDDATE,VIOLATIONCODE,VIOLATIONDESC FROM violations GROUP BY VIOLATIONCODE) WHERE ENDDATE>'2014-01-01'

Done.
Done.
112 rows affected.

[]

In [78]:
%%sql
DROP TABLE IF EXISTS vio_counts;
CREATE TEMP TABLE IF NOT EXISTS vio_counts (VIOLCODE,CUISINE,spec_count);
INSERT INTO vio_counts

SELECT VIOLCODE,CUISINE,COUNT(VIOLATION) AS spec_count FROM
(SELECT vio.CUISINE,vio.VIOLCODE, act_vio.VIOLATION FROM vio INNER JOIN act_vio ON vio.VIOLCODE=act_vio.VIOLCODE) 
GROUP BY CUISINE,VIOLCODE

Done.
Done.
4436 rows affected.

[]

In [79]:
%%sql
DROP TABLE IF EXISTS vio_counts_code;
CREATE TEMP TABLE IF NOT EXISTS vio_counts_code (VIOLCODE,count);
INSERT INTO vio_counts_code
SELECT VIOLCODE,SUM(spec_count) AS count FROM vio_counts GROUP BY VIOLCODE;
DROP TABLE IF EXISTS vio_counts_cui;
CREATE TEMP TABLE IF NOT EXISTS vio_counts_cui (CUISINE,count);
INSERT INTO vio_counts_cui
SELECT CUISINE,SUM(spec_count) AS count FROM vio_counts GROUP BY CUISINE;

Done.
Done.
93 rows affected.
Done.
Done.
84 rows affected.

[]

In [81]:
%%sql
DROP TABLE IF EXISTS results;
CREATE TABLE IF NOT EXISTS results (CUISINE,VIOLATION,ratio,count);
INSERT INTO results
SELECT CUISINE,VIOLATION,cond_prob/uncond_prob AS ratio,spec_count FROM
(SELECT CUISINE,VIOLATION,spec_count,spec_count*1.0/cui_count AS cond_prob,code_count*1.0/522410 AS uncond_prob FROM
(SELECT vio_counts.CUISINE,act_vio.VIOLATION,vio_counts.spec_count,vio_counts_cui.count AS cui_count,vio_counts_code.count AS code_count
FROM vio_counts INNER JOIN vio_counts_cui ON vio_counts_cui.CUISINE=vio_counts.CUISINE
INNER JOIN vio_counts_code ON vio_counts_code.VIOLCODE=vio_counts.VIOLCODE 
INNER JOIN act_vio ON vio_counts.VIOLCODE=act_vio.VIOLCODE
WHERE vio_counts.spec_count>=100)) ORDER BY ratio DESC

Done.
Done.
753 rows affected.

[]

In [82]:
import sqlite3
con2 = sqlite3.connect('nyc_inspection.db')
cursor2 = con2.cursor()
cursor2.execute('SELECT * FROM results LIMIT 20')
result6 = cursor2.fetchall()
output = []
avg = 0
for cui in result6:
    c = int(cui[3])
    cuisine = cui[0]
    violation = cui[1]
    ratio = float(cui[2])
    avg+=ratio
    output.append(((cuisine,violation),ratio,c))
print avg/20

2.46310395834

In [83]:
def violation_by_cuisine():
    return output

grader.score('sql__violation_by_cuisine', violation_by_cuisine)

==================
Your score:  0.925
==================

*Copyright &copy; 2016 The Data Incubator.  All rights reserved.*